div.costumersHeader{
    
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-title);
}
div.buttons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    user-select:none;
    
}
div.buttonItem{
    display:flex;
    height:25px;
    width:90px;
    background-color:#fff;
    border-radius: 10px;
    border: 0.5px solid #f8f8f8;
    justify-content: center;
    align-items: center;
    user-select:none;
    box-shadow:  2px 2px 4px #b0b0b0,  -3px -3px 10px #ffffff;
}
div.buttonItem:active{
    box-shadow: inset 1px 1px 2px #b0b0b0, inset -1px -1px 2px #ffffff;
}

div.buttonItem h2{
    font-size: var(--font-size-subtitle);
    margin:0;
    z-index: 10;
    
}

div.dropDownDetails{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin:4px;
    height:"100%";
    width:"100%";
    background-color: #FFF;
    border: 0.5px solid #DDD;
    border-radius: 20px;
    font-size: var(--font-size-subtitle);
    box-shadow: inset 1px 1px 2px #b0b0b0, inset -1px -1px 2px #ffffff;
    z-index:5;
}

.MuiTableCell-root.MuiTableCell-body.firstCell{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 3 solid #b0b0b0;
}
.MuiTableCell-root.MuiTableCell-body.lastCell{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.MuiTableRow-root.color1Row:hover{
    background: rgb(225,105,106);
    background: linear-gradient(90deg, rgba(225,105,106,1) 18%, rgba(255,255,255,1) 100%)
}
.MuiTableRow-root.color1Row{
    background: rgb(225,105,106);
    background: linear-gradient(90deg, rgba(225,105,106,1) 18%, rgba(255,255,255,1) 100%)
}
.MuiTableRow-root.color1Row:hover{
    cursor:pointer;
    background: rgb(225,105,106);
    background: linear-gradient(90deg, rgba(225,105,106,1) 0%, rgba(238,187,44,1) 31%, rgba(225,105,106,1) 100%);
}


.MuiTableRow-root.color2Row{
    background-color: rgb(238,187,44);
background: linear-gradient(90deg, rgba(238,187,44,1) 18%, rgba(255,255,255,1) 100%);

}
.MuiTableRow-root.color2Row:hover{
    background-color: rgb(238, 132, 45);
    background: linear-gradient(90deg, rgba(238,187,44,1) 1%, rgba(225,105,106,1) 31%, rgba(238,187,44,1) 100%);
    cursor:pointer
}

