div.doughnutChartContainer{
    border: 1px solid #888;
    background-color: #FFF;
    border-radius: 30px;
    width:400px;
    overflow: hidden;
    padding-top: 10px;
    box-shadow: var(--shadow)
}
div h4.doughnutTitle{
    font-size: var(--font-size-title);
    border-bottom:1px solid #888;
    width:200px;
    padding-left:20px ;
}
