
div.totalCard{
    height:80px;
    width:400px;
    background-color: #FFF;
    border: 0.5px solid #888;
    border-radius: 30px;
    padding:0 30px;
    box-shadow: var(--shadow)


    
}
h1.totalTitle{
    width:150px;
    font-size: var(--font-size-title);
}
div.totalIcon{
    display:flex;
    align-items: center;
    font-size:30px;
    color:#eebb2c

}