div.doughnutChartContainer{
    border: 1px solid #888;
    background-color: #FFF;
    border-radius: 10px;
    width:325px;

}
div h4.doughnutTitle{
    font-size: var(--font-size-title);
    border-bottom:1px solid #888;
    width:200px;
}