:root {
 --logo-height:90px;
 --header-height:70px;
 --aside-width:60px;
 --footer-height:35px;

 --shadow:
    0 2px 23px 0 rgba(0,0,0,0.1),
    0 2px 49px 0 rgba(0,0,0,0.06);

}

*{
    box-sizing: border-box;
    font-family: 'monospace','Verdana', 'Tahoma', sans-serif ;
}

.app{
    margin:0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "menu header"
        "menu content"
        "footer footer";
    height:100vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%,
                 rgba(234,232,255,1) 45%,
                 rgba(255,247,247,1) 100%);

}

header.header{
    grid-area:header;
}

aside.menu{
    grid-area:menu
}

main.content{
    grid-area: content;
}

footer.footer{
    grid-area:footer;
}