aside.menu-area {
  position:fixed;
  top:0;
  left:0;
  flex-direction: column;
}

nav.menu {
  height: 700px;
  width:var(--aside-width)
  
}

nav.menu a {
  display: block;
  position:relative;

  text-decoration: none;
  color: #999;
}

nav a:hover {
  display: block;
  text-decoration: none;
  color: #6633fa;
}
nav a:active {
  color: #eebb2c;
}
nav div.navButton {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 40px;
  box-shadow:  2px 2px 3px #b0b0b0,  -3px -3px 4px #ffffff;
}
nav div.navButton:active {
  box-shadow: inset 1px 1px 2px #b0b0b0, inset -1px -1px 2px #ffffff;

}
aside div.menuButton{
  border-right:1px solid #888;

  width:var(--aside-width);
  height:var(--header-height);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow:  inset 2px 1px 3px #b0b0b0, 1px 2px 5px #b0b0b0;
  
  
}
aside div.menuButton:hover{
  cursor:pointer;
}
aside div.menuButton.active{
  box-shadow: inset 1px 1px 5px #888, inset -1px -1px 3px #ccc;
}


div.backgroundNav{
  display: block;
  position: absolute;
  width:50px;
  height:700px;
  border-right:1px solid #888;
  background-color: #FFF;
  box-shadow:  2px 2px 3px #b0b0b0,  -3px -3px 4px #ffffff;

  
}